<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="n">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body class="web-page">
<img class="first-pic" src="/images/pokemon-go-vector-logo.png">
<div class="topnav">
    <a class="active" href="/">Home-page</a>
    <a href="/alolan">Alolan Pokemon</a>
    <a href="/weather_type">Strong Weather Types</a>
    <a href="/survey">Pokemon Survey</a>
</div>
<div id="box_1">
    <div id="box_2">
        {{{body}}}
    </div>
</div>

</body>
</html>