<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body class="web-page">
<img src="/images/pokemon-go-vector-logo.png">
<div class="topnav">
    <a class="active" href="#home">Home-page</a>
    <a href="#news">Can Be Shiny</a>
    <a href="#contact">Strong Weather Types</a>
    <a href="#about">Other</a>
</div>
{{{body}}}
</body>
</html>