<h1>{{title}}</h1>

<div id="scroll_box">
    <p>Here is a list of all pokemon in pokemon go that have a unique Alolan type</p>
{{#each alolan}}
    <p>{{this.name}} can be an Alolan </p>
{{/each}}
</div>