<h1>{{title}}</h1>
<h3>Presents an unordered list of each weather type the pokemon go app detects, and which types of pokemon become
stronger in that weather.</h3>
<div class="overflow-auto">
    {{#each weather}}
        <h2>{{@key}}</h2>
        <ul>
            {{this}}
        </ul>
        {{/each}}
</div>